<form class="form-stack" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name</label>
    <input type="text" formControlName="name" />

    @if (productForm.get('name')?.touched && productForm.get('name')?.invalid) {
      <small>Name is required and must be at most 200 characters.</small>
    }
  </div>

<div>
  <label>Category</label>

  <select formControlName="categoryId" [disabled]="categoriesLoading">
    <option [ngValue]="null" disabled>
      @if (categoriesLoading) {
        Loading categories...
      } @else {
        Select category
      }
    </option>

    @for (category of categories; track category.id) {
      <option [ngValue]="category.id">
        <!-- Because plain HTML value often becomes a string -->
        {{ category.name }}
      </option>
    }
  </select>

  @if (categoriesError) {
    <small>{{ categoriesError }}</small>
  }

  @if (productForm.get('categoryId')?.touched && productForm.get('categoryId')?.invalid) {
    <small>Category is required.</small>
  }
</div>

  <div>
    <label>Price</label>
    <input type="number" formControlName="price" />

    @if (productForm.get('price')?.touched && productForm.get('price')?.invalid) {
      <small>Price is required and must be greater than 0.</small>
    }
  </div>

  <div>
    <label>Stock</label>
    <input type="number" formControlName="stock" />

    @if (productForm.get('stock')?.touched && productForm.get('stock')?.invalid) {
      <small>Stock is required and cannot be negative.</small>
    }
  </div>

  <label class="checkbox-row">
    <input type="checkbox" formControlName="isAvailable" />
    Available
  </label>

  <button type="submit" [disabled]="isSubmitting">
    @if (isSubmitting) {
      Submitting...
    } @else {
      {{ buttonText }}
    }
  </button>
</form>
